[submodule "src/core-mqtt-sn-gateway"]
	path = src/core-mqtt-sn-gateway
	url = https://github.com/joelkoz/core-mqtt-sn-gateway.git
[submodule "src/arduino-linux-abstraction"]
	path = src/arduino-linux-abstraction
	url = https://github.com/joelkoz/arduino-linux-abstraction.git
[submodule "src/Implementation/Ble/SimpleBluetoothLowEnergySocket"]
	path = src/Implementation/Ble/SimpleBluetoothLowEnergySocket
	url = https://github.com/S3ler/SimpleBluetoothLowEnergySocket.git
	branch = master
[submodule "src/Implementation/mqtt-sn-sockets"]
	path = src/Implementation/mqtt-sn-sockets
	url = https://github.com/joelkoz/mqtt-sn-sockets.git
