CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

cmake-build-debug/*
!cmake-build-debug/.gitignore
*~
.idea/*

html/*

*.a

MQTT.SUB
linux-mqtt-sn-gateway.cbp
linux-mqtt-sn-gateway.layout

linux-mqtt-sn-gateway
.vscode
